In [165]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import classification_report # for model evaluation metrics
from sklearn import preprocessing  # for encoding categorical features from strings to number arrays

In [166]:
dataset = pd.read_csv("/users/aroua/downloads/breast-cancer_csv.csv")

In [167]:
dataset.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,40-49,premeno,15-19,0-2,yes,3,right,left_up,no,recurrence-events
1,50-59,ge40,15-19,0-2,no,1,right,central,no,no-recurrence-events
2,50-59,ge40,35-39,0-2,no,2,left,left_low,no,recurrence-events
3,40-49,premeno,35-39,0-2,yes,3,right,left_low,yes,no-recurrence-events
4,40-49,premeno,30-34,3-5,yes,2,left,right_up,no,recurrence-events

In [168]:
def class_value(classe):
    if classe == 'recurrence-events':
        return 1
    else:
        return 0

In [169]:
dataset['Class'] = dataset['Class'].apply(class_value)

In [170]:
dataset = pd.get_dummies(dataset, columns=["breast","irradiat","node-caps","breast-quad","menopause"])

In [171]:
label_encoder = preprocessing.LabelEncoder()
dataset['age'] = label_encoder.fit_transform(dataset['age'])
dataset['tumor-size'] = label_encoder.fit_transform(dataset['tumor-size'])
dataset['inv-nodes'] = label_encoder.fit_transform(dataset['inv-nodes'])

In [172]:
dataset

,age,tumor-size,inv-nodes,deg-malig,Class,breast_left,breast_right,irradiat_no,irradiat_yes,node-caps_no,node-caps_yes,breast-quad_central,breast-quad_left_low,breast-quad_left_up,breast-quad_right_low,breast-quad_right_up,menopause_ge40,menopause_lt40,menopause_premeno
0,2,2,0,3,1,0,1,1,0,0,1,0,0,1,0,0,0,0,1
1,3,2,0,1,0,0,1,1,0,1,0,1,0,0,0,0,1,0,0
2,3,6,0,2,1,1,0,1,0,1,0,0,1,0,0,0,1,0,0
3,2,6,0,3,0,0,1,0,1,0,1,0,1,0,0,0,0,0,1
4,2,5,4,2,1,1,0,1,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,3,5,5,2,0,1,0,1,0,0,1,0,1,0,0,0,1,0,0
282,3,4,4,2,0,1,0,0,1,0,1,0,1,0,0,0,0,0,1
283,1,5,5,2,0,0,1,1,0,0,1,0,0,0,0,1,0,0,1
284,3,2,0,2,0,0,1,1,0,1,0,0,1,0,0,0,0,0,1
285,3,7,0,3,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0

In [173]:
y=dataset['Class']

In [174]:
select = [x for x in dataset.columns if x != "Class"]
x=dataset.loc[:, select]

In [183]:
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [184]:
k = 23
#Train Model and Predict  
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
print(neigh)
#predicting part
yhat = neigh.predict(x_test)
yhat

KNeighborsClassifier(n_neighbors=23)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0])

In [185]:
y_test

55     0
181    1
92     1
207    1
188    0
45     1
111    0
239    1
15     0
22     0
267    1
194    0
12     0
81     0
63     1
191    0
225    0
171    1
201    0
136    0
154    0
236    0
101    1
280    0
106    1
110    0
218    1
227    0
126    0
285    0
213    0
8      0
5      0
200    0
90     1
281    0
97     0
103    0
7      0
64     1
73     1
159    0
179    0
205    1
241    0
124    0
158    0
208    1
74     1
270    1
59     1
279    0
271    1
222    0
76     0
150    1
252    0
20     1
Name: Class, dtype: int64

In [186]:
knn.score(x_test, y_test)

0.8448275862068966

In [187]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(x_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.7368421052631579
Test set Accuracy:  0.7241379310344828

In [188]:
from sklearn.metrics import confusion_matrix, accuracy_score,recall_score,f1_score,precision_score
cm = confusion_matrix(y_test, yhat)
print(cm)
print('accuracy score: %.3f' % accuracy_score(y_test, yhat))

[[36  0]
 [16  6]]
accuracy score: 0.724

In [189]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = neigh, X = x_train, y = y_train, cv = 5)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 72.39 %
Standard Deviation: 1.99 %

In [190]:
print('Precision: %.3f' % precision_score(y_test, yhat))

Precision: 1.000

In [137]:
print('Recall: %.3f' % recall_score(y_test, yhat))

Recall: 0.455

In [138]:
print('F1 Score: %.3f' % f1_score(y_test, yhat))

F1 Score: 0.625

In [139]:
sensitivity = cm[0,0]/(cm[0,0]+cm[0,1])
print('Sensitivity : ', sensitivity )

Sensitivity :  1.0