In [111]:
from mixed_naive_bayes import MixedNB
import pandas as pd
import numpy as np
from sklearn.metrics import precision_score
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import classification_report # for model evaluation metrics
from sklearn import preprocessing  # for encoding categorical features from strings to number arrays

In [112]:
dataset = pd.read_csv("/users/aroua/downloads/breast-cancer_csv.csv")

In [113]:
dataset.isna().sum()

age            0
menopause      0
tumor-size     0
inv-nodes      0
node-caps      8
deg-malig      0
breast         0
breast-quad    1
irradiat       0
Class          0
dtype: int64

In [114]:
dataset['Class'].value_counts ( )

no-recurrence-events    201
recurrence-events        85
Name: Class, dtype: int64

In [115]:
label_encoder = preprocessing.LabelEncoder()

In [116]:
dataset['menopause']=label_encoder.fit_transform(dataset['menopause'])

In [117]:
dataset['node-caps']=label_encoder.fit_transform(dataset['node-caps'])

In [118]:
dataset['breast']=label_encoder.fit_transform(dataset['breast'])

In [119]:
dataset['breast-quad']=label_encoder.fit_transform(dataset['breast-quad'])

In [120]:
dataset['irradiat']=label_encoder.fit_transform(dataset['irradiat'])

In [121]:
dataset.head()

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat,Class
0,40-49,2,15-19,0-2,1,3,1,2,0,recurrence-events
1,50-59,0,15-19,0-2,0,1,1,0,0,no-recurrence-events
2,50-59,0,35-39,0-2,0,2,0,1,0,recurrence-events
3,40-49,2,35-39,0-2,1,3,1,1,1,no-recurrence-events
4,40-49,2,30-34,3-5,1,2,0,4,0,recurrence-events

In [122]:
x=dataset.iloc[:,:-1]

In [123]:
dataset['Class']=label_encoder.fit_transform(dataset['Class'])

In [124]:
x['age'] = label_encoder.fit_transform(x['age'])

In [125]:
x['inv-nodes'] = label_encoder.fit_transform(x['inv-nodes'])

In [126]:
x['node-caps'] = label_encoder.fit_transform(x['node-caps'])

In [127]:
x['tumor-size'] = label_encoder.fit_transform(x['tumor-size'])

In [128]:
x

,age,menopause,tumor-size,inv-nodes,node-caps,deg-malig,breast,breast-quad,irradiat
0,2,2,2,0,1,3,1,2,0
1,3,0,2,0,0,1,1,0,0
2,3,0,6,0,0,2,0,1,0
3,2,2,6,0,1,3,1,1,1
4,2,2,5,4,1,2,0,4,0
...,...,...,...,...,...,...,...,...,...
281,3,0,5,5,1,2,0,1,0
282,3,2,4,4,1,2,0,1,1
283,1,2,5,5,1,2,1,4,0
284,3,2,2,0,0,2,1,1,0
285,3,0,7,0,0,3,0,4,0

In [129]:
y=dataset.iloc[:,-1].values

In [130]:
y

array([1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [143]:
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [144]:
x_train.shape

(228, 9)

In [145]:
clf = MixedNB()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [146]:
print(y_test)

[0 1 1 1 0 1 0 1 0 0 1 0 0 0 1 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1 0 0
 0 0 1 1 0 0 1 0 0 0 1 1 1 1 0 1 0 0 1 0 1]

In [147]:
print(y_pred)

[0 1 0 1 0 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0
 0 0 0 1 0 0 1 0 0 0 1 1 1 0 0 1 0 0 0 0 0]

In [148]:
from sklearn.metrics import confusion_matrix, accuracy_score,recall_score,f1_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
print('accuracy score: %.3f' % accuracy_score(y_test, y_pred))

[[34  2]
 [10 12]]
accuracy score: 0.793

In [149]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = clf, X = x_train, y = y_train, cv = 5)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

Accuracy: 71.96 %
Standard Deviation: 4.91 %

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mixed_naive_bayes/mixed_naive_bayes.py:423: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if categorical_features == 'all':
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mixed_naive_bayes/mixed_naive_bayes.py:163: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  elif self.categorical_features == 'all':

In [150]:
print('Precision: %.3f' % precision_score(y_test, y_pred))

Precision: 0.857

In [151]:
print('Recall: %.3f' % recall_score(y_test, y_pred))

Recall: 0.545

In [152]:
print('F1 Score: %.3f' % f1_score(y_test, y_pred))

F1 Score: 0.667

In [153]:
sensitivity = cm[0,0]/(cm[0,0]+cm[0,1])
print('Sensitivity : ', sensitivity )

Sensitivity :  0.9444444444444444

In [154]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, clf.predict(x_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Train set Accuracy:  0.7368421052631579
Test set Accuracy:  0.7931034482758621